<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    
    <!--job1 setting-->
    <!--將藍燈結果update回本系統table(大表最後兩欄位)-->
    <bean id="targetClass" class="com.advantech.quartzJob.BwFieldSyncJob"/>
    
    <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="targetClass"/>
        <property name="targetMethod" value="syncBwData"/>
    </bean>

    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"/>
        <property name="cronExpression" value="0 0 0 ? * MON-SAT *"/>
    </bean>
    
    <!--job2 setting-->
    <!--上傳標工-->
    <bean id="targetClass2" class="com.advantech.quartzJob.StandardTimeUpload"/>
    
    <bean id="jobDetail2" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="targetClass2"/>
        <property name="targetMethod" value="uploadToMes"/>
    </bean>
    
    <bean id="cronTrigger2" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail2"/>
        <property name="cronExpression" value="0 0 23 ? * MON-SAT *"/>
    </bean>
    
    <!--job3 setting-->
    <!--備份資料-->
    <bean id="targetClass3" class="com.advantech.quartzJob.BackupDataToExcel"/>
    
    <bean id="jobDetail3" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="targetClass3"/>
        <property name="targetMethod" value="backupToDisk"/>
    </bean>
    
    <bean id="cronTrigger3" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail3"/>
        <property name="cronExpression" value="0 0 18 ? * MON-SAT *"/>
    </bean>
    
    <!--job4 setting-->
    <!--Send worktime log(Team MFG)-->
    <bean id="targetClass4" class="com.advantech.quartzJob.WorktimeEventLog"/>
    
    <bean id="jobDetail4" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="targetClass4"/>
        <property name="targetMethod" value="execute"/>
    </bean>
    
    <bean id="cronTrigger4" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail4"/>
        <property name="cronExpression" value="0 0 11,16 ? * MON-SAT *"/>
    </bean>
    
    <!--job5 setting-->
    <!--Send worktime log(Team IE)-->
    <bean id="targetClass5" class="com.advantech.quartzJob.WorktimeEventLog1"/>
    
    <bean id="jobDetail5" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="targetClass5"/>
        <property name="targetMethod" value="execute"/>
    </bean>
    
    <bean id="cronTrigger5" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail5"/>
        <property name="cronExpression" value="0 0 11,16 ? * MON-SAT *"/>
    </bean>
    
    <!--job6 setting-->
    <!--Remove non-exist users-->
    <bean id="targetClass6" class="com.advantech.quartzJob.SyncEmployeeZoneUser"/>
    
    <bean id="jobDetail6" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="targetClass6"/>
        <property name="targetMethod" value="execute"/>
    </bean>
    
    <bean id="cronTrigger6" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail6"/>
        <property name="cronExpression" value="0 0 12 ? * SAT *"/>
    </bean>

    <!--job7 setting-->
    <!--Sync PreAssyModuleQty from CalculatorWS-->
    <bean id="syncPreAssyModuleQty" class="com.advantech.quartzJob.SyncPreAssyModuleQty"/>
    
    <bean id="jobDetail7" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="syncPreAssyModuleQty"/>
        <property name="targetMethod" value="execute"/>
    </bean>
    
    <bean id="cronTrigger7" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail7"/>
        <property name="cronExpression" value="0 0 21 ? * MON-SAT *"/>
    </bean>
    
    <!--job8 setting-->
    <!--Sync M9 standardTime-->
    <bean id="syncWorktimeM4f" class="com.advantech.quartzJob.SyncWorktimeM4f"/>
    
    <bean id="jobDetail8" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="syncWorktimeM4f"/>
        <property name="targetMethod" value="syncModelFromM9ie"/>
    </bean>
    
    <bean id="cronTrigger8" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail8"/>
        <property name="cronExpression" value="0 50 22 ? * MON-SAT *"/>
    </bean>
    
    <!--job9 setting-->
    <!--Sync M9 standardTime for M3，M9工時大表即時更新至MES工時-->
    <bean id="syncWorktime" class="com.advantech.quartzJob.SyncWorktime"/>
    
    <bean id="jobDetail9" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="syncWorktime"/>
        <property name="targetMethod" value="syncModelFromM9ie"/>
    </bean>
        
    <bean id="cronTrigger9" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail9"/>
        <property name="cronExpression" value="0 55 22 ? * MON-SAT *"/>
    </bean>
    
    <!-- Quartz JobFactory，supporting Spring Autowiring -->
    <!--for org.springframework.scheduling.quartz.JobDetailFactoryBean-->
    <bean id="jobFactory" class="com.advantech.quartzJob.AutowiringSpringBeanJobFactory"/>

    <!--schedule jobs-->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="jobFactory" ref="jobFactory" />
        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
                <!--<ref bean="cronTrigger3"/>-->
                <ref bean="cronTrigger4"/>
                <ref bean="cronTrigger5"/>
                <ref bean="cronTrigger6"/>
                <ref bean="cronTrigger7"/>
                <ref bean="cronTrigger8"/>
                <ref bean="cronTrigger9"/>
            </list>
        </property>
        <property name="schedulerName">
            <value>jobScheduler</value>
        </property>
                        
        <property name="configLocation">
            <value>classpath:quartz.properties</value>
        </property>
                        
        <property name="waitForJobsToCompleteOnShutdown" value="true" />
    </bean>
                    
</beans>