.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    height: 50px;
}

input,select,textarea {
    outline: none;
	box-sizing: border-box;
    border-bottom: 1.5px solid rgb(0, 0, 0);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 0.5rem; /* 調整下內邊距，以與 label 有間距 */
    width:80%;
    background-color: transparent;
}

label {
    font-size: 1.2rem; /* 調整字體大小 */
    color: #000000; /* 調整字體顏色 */
    margin-bottom: 0.5rem; /* 調整下邊距，以與 input 有間距 */
}

.input-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.Notice{
    position: absolute;
    left: 70%;
    font-size: 1.0rem;
    color: rgba(255, 32, 32, 0.815);
    font-weight:bolder 
}

/* 單獨設立 */

#BISampling{
    position: absolute;
    left: 67%;
    font-size: 1.0rem;
    color: rgba(255, 32, 32, 0.815);
    font-weight:bolder 
}
#testSop{
    position: absolute;
    left: 38%;
    font-size: 1.0rem;
    color: rgba(255, 32, 32, 0.815);
    font-weight:bolder 
}
#PACKING_FLOW{
    position: absolute;
    left: 60%;
    font-size: 1.0rem;
    color: rgba(255, 32, 32, 0.815);
    font-weight:bolder 
}
#describe{
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
    background-color:  #70afd0;
}
.describeDIV{
    width: 20%;
}
#Cancel_Button{
    position: absolute ;
    right: 10px;
    bottom: 10px;
}

#Submit_Button{
    position: absolute ;
    right: 100px;
    bottom: 10px;
}
.form_btn {
    position: relative;
    width:80px;
    line-height: 40px;
    color: RoyalBlue;
    text-align: center;
    background-color: Lavender;
    cursor: pointer;
    transition: .1s;
    border: none;
    border-radius: 5px;
}
.btn_underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2.5px;
    width: 0;
    background-color: RoyalBlue;
    transition: .35s;
}
.form_btn:hover .btn_underline::before {
    content: '';
    width: 100%;
    left: 0;
}
body{
    padding-bottom: 150px;
}
.describe_title {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

#enable,#disable {
    color: white;
    font-weight: lighter;
    
}

.selected {
    color: rgb(13, 0, 255);
    cursor: pointer;
}

.move {
    position: relative;
    left: 50px;
    cursor: pointer;
}

.move.left {
    left: -50px;
}
.tab-panel {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
}

.tab-panel.active {
    display: block;
}